[Unit]
Description= Phobooth service

[Service]
#Environment=Display=0:0
WorkingDirectory=/home/pi/photobooth/photoboothbouin/
ExecStartPre=/bin/sleep 25
ExecStart=/usr/bin/python3 main.py -r
#ExecStop=/usr/bin/pkill python3
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
